{% extends "base.html" %} 
{% load static %} 
{% block contenido %}

<div class="usuarios-app">
  <h2>Perfil de Usuario</h2>
  <div class="card perfil-card">
    <img class="avatar" src="{% static 'img/avatar.png' %}" alt="Avatar">

    <ul>
      <li><strong>Username:</strong> {{ usuario.username }}</li>
      <li><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</li>
      <li><strong>Email:</strong> {{ usuario.email }}</li>
      <li><strong>Teléfono:</strong> {{ usuario.telefono }}</li>
    </ul>

    <div class="perfil-buttons">
      <a href="{% url 'usuarios:perfil_editar' %}" class="btn btn-primary">Editar</a>
      <a href="{% url 'usuarios:perfil_eliminar' %}" class="btn btn-danger">Eliminar cuenta</a>
    </div>
  </div>
</div>

{% endblock contenido %}
